{:rows [{:name "fib25", :expected "75025", :bb-ms 25.461916, :bb-ok true, :clj-ms 574.520917, :clj-ok false, :nano-ms 1594.143417, :nano-ok true} {:name "tight-loop-10k", :expected "49995000", :bb-ms 13.034, :bb-ok true, :clj-ms 549.654583, :clj-ok false, :nano-ms 915.93725, :nano-ok false} {:name "reduce-+-range-10k", :expected "49995000", :bb-ms 12.17725, :bb-ok true, :clj-ms 552.255667, :clj-ok false, :nano-ms 873.013917, :nano-ok true}], :timestamp-ms 1777096543269}